Datasheet 4.04B: Area of destination or origin within the UK by citizenship

In [1]:
from databaker.framework import *
import pandas as pd

In [5]:
df1 = pd.read_excel(xls, 'Datasheet 4.04B', header = 7)

In [6]:
df1

,Software Readable Column Label (See Notes),Unnamed: 1,Unnamed: 2,Unnamed: 3,Row Label,CIT All EST,CIT All CI,CIT Afghanistan EST,CIT Afghanistan CI,CIT Albania EST,...,CIT Eritrea EST,CIT Eritrea CI,CIT Estonia EST,CIT Estonia CI,CIT Ethiopia EST,CIT Ethiopia CI,CIT Finland EST,CIT Finland CI,CIT France EST,CIT France CI
0,Inflow,Country of United Kingdom,United Kingdom1,K02000001,"INFLOW, United Kingdom",526.6,34.4,1,1.4,.,...,1,1.3,0.3,0.6,0.8,1.2,0.1,0.1,25.2,7.1
1,NaN,NaN,Great Britain,K03000001,"INFLOW, Great Britain",520.8,33.7,1,1.4,.,...,1,1.3,0.3,0.6,0.8,1.2,0.1,0.1,25.2,7.1
2,NaN,NaN,England and Wales,K04000001,"INFLOW, England and Wales",488.4,32.7,1,1.4,.,...,1,1.3,0.3,0.6,0.8,1.2,0.1,0.1,24.1,6.9
3,NaN,NaN,England,E92000001,"INFLOW, England",470.3,32.0,1,1.4,.,...,1,1.3,0.3,0.6,0.8,1.2,0.1,0.1,24.1,6.9
4,NaN,NaN,Wales,W92000004,"INFLOW, Wales",18.1,6.8,.,.,.,...,.,.,.,.,.,.,.,.,.,.
5,NaN,NaN,Scotland,S92000003,"INFLOW, Scotland",32.4,8.3,.,.,.,...,.,.,.,.,.,.,.,.,1.1,1.5
6,NaN,Region of England,North East,E12000001,"INFLOW, North East",18.9,7.8,.,.,.,...,.,.,.,.,.,.,.,.,.,.
7,NaN,NaN,North West,E12000002,"INFLOW, North West",43.8,10.5,0.5,1,.,...,.,.,0.3,0.6,.,.,.,.,1,1.4
8,NaN,NaN,Yorkshire and The Humber,E12000003,"INFLOW, Yorkshire and The Humber",37.7,11.7,.,.,.,...,0.6,1.1,.,.,.,.,.,.,1,1.2
9,NaN,NaN,East Midlands,E12000004,"INFLOW, East Midlands",29.0,7.8,0.5,0.9,.,...,.,.,.,.,.,.,.,.,0.5,1
10,NaN,NaN,West Midlands,E12000005,"INFLOW, West Midlands",40.4,9.0,.,.,.,...,0.4,0.7,.,.,0.3,0.6,.,.,2,2
11,NaN,NaN,East,E12000006,"INFLOW, East",50.0,10.1,.,.,.,...,.,.,.,.,.,.,.,.,3.9,2.7
12,NaN,NaN,London,E12000007,"INFLOW, London",143.7,14.5,0,0.1,.,...,.,.,.,.,0.5,1,.,.,10,4.5
13,NaN,NaN,South East,E12000008,"INFLOW, South East",74.3,13.9,.,.,.,...,0.1,0.2,.,.,.,.,0.1,0.1,5.2,3.3
14,NaN,NaN,South West,E12000009,"INFLOW, South West",32.4,8.5,.,.,.,...,.,.,.,.,.,.,.,.,0.5,1.1
15,Outflow,Country of United Kingdom,United Kingdom1,K02000001,"OUTFLOW, United Kingdom",-315.8,23.0,.,.,-0.6,...,.,.,-0.2,0.5,.,.,-2.5,3.1,-9.1,4.3
16,NaN,NaN,Great Britain,K03000001,"OUTFLOW, Great Britain",-315.3,23.0,.,.,-0.6,...,.,.,-0.2,0.5,.,.,-2.5,3.1,-9.1,4.3
17,NaN,NaN,England and Wales,K04000001,"OUTFLOW, England and Wales",-295.1,21.8,.,.,-0.6,...,.,.,-0.2,0.5,.,.,-0.8,1,-9.1,4.3
18,NaN,NaN,England,E92000001,"OUTFLOW, England",-287.6,21.6,.,.,-0.6,...,.,.,-0.2,0.5,.,.,-0.8,1,-9.1,4.3
19,NaN,NaN,Wales,W92000004,"OUTFLOW, Wales",-7.4,2.9,.,.,.,...,.,.,.,.,.,.,.,.,.,.
20,NaN,NaN,Scotland,S92000003,"OUTFLOW, Scotland",-20.3,7.3,.,.,.,...,.,.,.,.,.,.,-1.7,2.9,.,.
21,NaN,Region of England,North East,E12000001,"OUTFLOW, North East",-8.2,3.4,.,.,.,...,.,.,.,.,.,.,.,.,.,.
22,NaN,NaN,North West,E12000002,"OUTFLOW, North West",-33.1,7.4,.,.,.,...,.,.,-0.2,0.5,.,.,.,.,-0.3,0.6
23,NaN,NaN,Yorkshire and The Humber,E12000003,"OUTFLOW, Yorkshire and The Humber",-16.6,4.8,.,.,.,...,.,.,.,.,.,.,.,.,-0.3,0.6
24,NaN,NaN,East Midlands,E12000004,"OUTFLOW, East Midlands",-14.5,4.9,.,.,.,...,.,.,.,.,.,.,.,.,-0.2,0.4
25,NaN,NaN,West Midlands,E12000005,"OUTFLOW, West Midlands",-17.6,4.3,.,.,.,...,.,.,.,.,.,.,.,.,-0.3,0.6
26,NaN,NaN,East,E12000006,"OUTFLOW, East",-25.6,5.7,.,.,.,...,.,.,.,.,.,.,.,.,.,.
27,NaN,NaN,London,E12000007,"OUTFLOW, London",-103.9,13.4,.,.,-0.6,...,.,.,.,.,.,.,-0.8,1,-6.2,3.8
28,NaN,NaN,South East,E12000008,"OUTFLOW, South East",-39.9,7.6,.,.,.,...,.,.,.,.,.,.,.,.,-1.3,1.5
29,NaN,NaN,South West,E12000009,"OUTFLOW, South West",-28.2,8.0,.,.,.,...,.,.,.,.,.,.,.,.,-0.4,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,NaN,NaN,Wales,W92000004,"BALANCE, Wales",10.6,7.3,.,.,.,...,.,.,.,.,.,.,.,.,.,.
35,NaN,NaN,Scotland,S92000003,"BALANCE, Scotland",12.1,11.0,.,.,.,...,.,.,.,.,.,.,-1.7,2.9,1.1,1.5
36,NaN,Region of England,North East,E12000001,"BALANCE, North East",10.7,8.4,.,.,.,...,.,.,.,.,.,.,.,.,.,.
37,NaN,NaN,North West,E12000002,"BALANCE, North West",10.7,12.9,0.5,1,.,...,.,.,0.1,0.8,.,.,.,.,0.7,1.5
38,NaN,NaN,Yorkshire and The Humber,E12000003,"BALANCE, Yorkshire and The Humber",21.1,12.6,.,.,.,...,0.6,1.1,.,.,.,.,.,.,0.7,1.3
39,NaN,NaN,East Midlands,E12000004,"BALANCE, East Midlands",14.5,9.2,0.5,0.9,.,...,.,.,.,.,.,.,.,.,0.3,1.1
40,NaN,NaN,West Midlands,E12000005,"BALANCE, West Midlands",22.9,10.0,.,.,.,...,0.4,0.7,.,.,0.3,0.6,.,.,1.6,2.1
41,NaN,NaN,East,E12000006,"BALANCE, East",24.4,11.6,.,.,.,...,.,.,.,.,.,.,.,.,3.9,2.7
42,NaN,NaN,London,E12000007,"BALANCE, London",39.7,19.8,0,0.1,-0.6,...,.,.,.,.,0.5,1,-0.8,1,3.7,5.9
43,NaN,NaN,South East,E12000008,"BALANCE, South East",34.5,15.8,.,.,.,...,0.1,0.2,.,.,.,.,0.1,0.1,3.9,3.6
44,NaN,NaN,South West,E12000009,"BALANCE, South West",4.2,11.7,.,.,.,...,.,.,.,.,.,.,.,.,0.2,1.3
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Source: Office for National Statistics (ONS).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Totals may not sum due to rounding.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,"""z"" - Not applicable, ""."" - No contact, ""0~"" -...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Migration between the UK and the Republic of I...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,1 IPS estimates for Northern Ireland are incl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Citizenships for which there were no contacts ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,This table uses 95% confidence intervals (CI) ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Published on 30 November 2017 by the Office fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,© Crown copyright. You may re-use this informa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,"To view this licence, go to: http://www.nation...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,"or write to the Information Policy Team, The N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
observations = df1.iloc[:, 4:]
observations.head()

,Row Label,CIT All EST,CIT All CI,CIT Afghanistan EST,CIT Afghanistan CI,CIT Albania EST,CIT Albania CI,CIT Algeria EST,CIT Algeria CI,CIT Australia EST,...,CIT Eritrea EST,CIT Eritrea CI,CIT Estonia EST,CIT Estonia CI,CIT Ethiopia EST,CIT Ethiopia CI,CIT Finland EST,CIT Finland CI,CIT France EST,CIT France CI
0,"INFLOW, United Kingdom",526.6,34.4,1,1.4,.,.,0.4,0.5,13.3,...,1,1.3,0.3,0.6,0.8,1.2,0.1,0.1,25.2,7.1
1,"INFLOW, Great Britain",520.8,33.7,1,1.4,.,.,0.4,0.5,13.3,...,1,1.3,0.3,0.6,0.8,1.2,0.1,0.1,25.2,7.1
2,"INFLOW, England and Wales",488.4,32.7,1,1.4,.,.,0.2,0.5,12.7,...,1,1.3,0.3,0.6,0.8,1.2,0.1,0.1,24.1,6.9
3,"INFLOW, England",470.3,32.0,1,1.4,.,.,0.2,0.5,12.7,...,1,1.3,0.3,0.6,0.8,1.2,0.1,0.1,24.1,6.9
4,"INFLOW, Wales",18.1,6.8,.,.,.,.,.,.,0.1,...,.,.,.,.,.,.,.,.,.,.

In [8]:
new_table = pd.melt(observations,
                       ["Row Label"],
                       var_name="Column label",
                       value_name="Value")

In [9]:
new_table.head(50)

                            Row Label Column label  Value
0              INFLOW, United Kingdom  CIT All EST  526.6
1               INFLOW, Great Britain  CIT All EST  520.8
2           INFLOW, England and Wales  CIT All EST  488.4
3                     INFLOW, England  CIT All EST  470.3
4                       INFLOW, Wales  CIT All EST   18.1
5                    INFLOW, Scotland  CIT All EST   32.4
6                  INFLOW, North East  CIT All EST   18.9
7                  INFLOW, North West  CIT All EST   43.8
8    INFLOW, Yorkshire and The Humber  CIT All EST   37.7
9               INFLOW, East Midlands  CIT All EST     29
10              INFLOW, West Midlands  CIT All EST   40.4
11                       INFLOW, East  CIT All EST     50
12                     INFLOW, London  CIT All EST  143.7
13                 INFLOW, South East  CIT All EST   74.3
14                 INFLOW, South West  CIT All EST   32.4
15            OUTFLOW, United Kingdom  CIT All EST -315.8
16             OUTFLOW, Great Britain  CIT All EST -315.3
17         OUTFLOW, England and Wales  CIT All EST -295.1
18                   OUTFLOW, England  CIT All EST -287.6
19                     OUTFLOW, Wales  CIT All EST   -7.4
20                  OUTFLOW, Scotland  CIT All EST  -20.3
21                OUTFLOW, North East  CIT All EST   -8.2
22                OUTFLOW, North West  CIT All EST  -33.1
23  OUTFLOW, Yorkshire and The Humber  CIT All EST  -16.6
24             OUTFLOW, East Midlands  CIT All EST  -14.5
25             OUTFLOW, West Midlands  CIT All EST  -17.6
26                      OUTFLOW, East  CIT All EST  -25.6
27                    OUTFLOW, London  CIT All EST -103.9
28                OUTFLOW, South East  CIT All EST  -39.9
29                OUTFLOW, South West  CIT All EST  -28.2
30            BALANCE, United Kingdom  CIT All EST  210.8
31             BALANCE, Great Britain  CIT All EST  205.4
32         BALANCE, England and Wales  CIT All EST  193.3
33                   BALANCE, England  CIT All EST  182.7
34                     BALANCE, Wales  CIT All EST   10.6
35                  BALANCE, Scotland  CIT All EST   12.1
36                BALANCE, North East  CIT All EST   10.7
37                BALANCE, North West  CIT All EST   10.7
38  BALANCE, Yorkshire and The Humber  CIT All EST   21.1
39             BALANCE, East Midlands  CIT All EST   14.5
40             BALANCE, West Midlands  CIT All EST   22.9
41                      BALANCE, East  CIT All EST   24.4
42                    BALANCE, London  CIT All EST   39.7
43                BALANCE, South East  CIT All EST   34.5
44                BALANCE, South West  CIT All EST    4.2
45                                NaN  CIT All EST    NaN
46                                NaN  CIT All EST    NaN
47                                NaN  CIT All EST    NaN
48                                NaN  CIT All EST    NaN
49                                NaN  CIT All EST    NaN

In [10]:
new_table.shape

(4352, 3)

In [11]:
new_table.dropna(inplace=True)

In [12]:
new_table = new_table[new_table['Value'] != '.']

In [13]:
new_table = new_table[new_table['Value'] != '0']

In [14]:
new_table.head(50)

                            Row Label Column label  Value
0              INFLOW, United Kingdom  CIT All EST  526.6
1               INFLOW, Great Britain  CIT All EST  520.8
2           INFLOW, England and Wales  CIT All EST  488.4
3                     INFLOW, England  CIT All EST  470.3
4                       INFLOW, Wales  CIT All EST   18.1
5                    INFLOW, Scotland  CIT All EST   32.4
6                  INFLOW, North East  CIT All EST   18.9
7                  INFLOW, North West  CIT All EST   43.8
8    INFLOW, Yorkshire and The Humber  CIT All EST   37.7
9               INFLOW, East Midlands  CIT All EST     29
10              INFLOW, West Midlands  CIT All EST   40.4
11                       INFLOW, East  CIT All EST     50
12                     INFLOW, London  CIT All EST  143.7
13                 INFLOW, South East  CIT All EST   74.3
14                 INFLOW, South West  CIT All EST   32.4
15            OUTFLOW, United Kingdom  CIT All EST -315.8
16             OUTFLOW, Great Britain  CIT All EST -315.3
17         OUTFLOW, England and Wales  CIT All EST -295.1
18                   OUTFLOW, England  CIT All EST -287.6
19                     OUTFLOW, Wales  CIT All EST   -7.4
20                  OUTFLOW, Scotland  CIT All EST  -20.3
21                OUTFLOW, North East  CIT All EST   -8.2
22                OUTFLOW, North West  CIT All EST  -33.1
23  OUTFLOW, Yorkshire and The Humber  CIT All EST  -16.6
24             OUTFLOW, East Midlands  CIT All EST  -14.5
25             OUTFLOW, West Midlands  CIT All EST  -17.6
26                      OUTFLOW, East  CIT All EST  -25.6
27                    OUTFLOW, London  CIT All EST -103.9
28                OUTFLOW, South East  CIT All EST  -39.9
29                OUTFLOW, South West  CIT All EST  -28.2
30            BALANCE, United Kingdom  CIT All EST  210.8
31             BALANCE, Great Britain  CIT All EST  205.4
32         BALANCE, England and Wales  CIT All EST  193.3
33                   BALANCE, England  CIT All EST  182.7
34                     BALANCE, Wales  CIT All EST   10.6
35                  BALANCE, Scotland  CIT All EST   12.1
36                BALANCE, North East  CIT All EST   10.7
37                BALANCE, North West  CIT All EST   10.7
38  BALANCE, Yorkshire and The Humber  CIT All EST   21.1
39             BALANCE, East Midlands  CIT All EST   14.5
40             BALANCE, West Midlands  CIT All EST   22.9
41                      BALANCE, East  CIT All EST   24.4
42                    BALANCE, London  CIT All EST   39.7
43                BALANCE, South East  CIT All EST   34.5
44                BALANCE, South West  CIT All EST    4.2
64             INFLOW, United Kingdom   CIT All CI   34.4
65              INFLOW, Great Britain   CIT All CI   33.7
66          INFLOW, England and Wales   CIT All CI   32.7
67                    INFLOW, England   CIT All CI     32
68                      INFLOW, Wales   CIT All CI    6.8

In [15]:
new_table.count()

Row Label       1426
Column label    1426
Value           1426
dtype: int64

In [16]:
new_table['Country of Residence'] = new_table['Column label'].replace(to_replace= r"CIT (.*)(EST|CI )$", value = "\\1", regex=True)
new_table['measure'] = new_table['Column label'].replace(to_replace= r".* (EST|CI )$", value = "\\1", regex=True)
new_table['Country of Residence'] = new_table['Country of Residence'].str.lower()
new_table['Country of Residence'] = new_table['Country of Residence'].str.strip()
new_table['measure'] = new_table['measure'].str.lower()
new_table['measure'] = new_table['measure'].str.strip()
new_table['Row Label'] = new_table['Row Label'].str.lower()
temp_table = new_table['Row Label'].str.split(',', -1, expand=True)
new_table['Flow'] = temp_table[0]
new_table['Area of Destination or Origin'] = temp_table[1]
new_table['Flow'] = new_table['Flow'].str.strip()
new_table['Area of Destination or Origin'] = new_table['Area of Destination or Origin'].str.strip()
new_table['Geography'] = 'K02000001'
new_table['Unit'] = 'People (thousands)'
new_table['Measure Type'] = 'Count'
new_table['Year'] = '2016'
temp_table = new_table[:]
temp_table['Keys'] = temp_table['Row Label'] + '/' + temp_table['Column label']
temp_table['Keys'] = temp_table['Keys'].str.strip()
temp_table['Keys2'] = temp_table['Keys'].str.rstrip('EST')
temp_table['Keys2'] = temp_table['Keys2'].str.rstrip('CI')
temp_table['Keys2'] = temp_table['Keys2'].str.strip()
Final_table = pd.merge(temp_table, temp_table[['Keys2','Value','measure']], how = 'left', left_on = 'Keys2', right_on = 'Keys2')
Final_table = Final_table[Final_table['measure_x'] != Final_table['measure_y']]
Final_table = Final_table.drop_duplicates('Keys2', keep = 'first')
Final_table.columns = ['Value' if x=='Value_x' else x for x in Final_table.columns]
Final_table.columns = ['CI' if x=='Value_y' else x for x in Final_table.columns]
Final_table['Value'] = Final_table['Value'].astype(float)
Final_table['Year'] = Final_table['Year'].astype(int)
Final_table['CI'] = Final_table['CI'].astype(float)
Final_table = Final_table[Final_table['Country of Residence'] != 'all']
Final_table = Final_table[['Geography','Year','Country of Residence','Flow','Area of Destination or Origin','Measure Type','Value','CI','Unit']]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
Final_table

,Geography,Year,Country of residence,Flow,Area of Destination or Origin,Measure Type,Value,CI,Unit
181,K02000001,2016,afghanistan,inflow,united kingdom,Count,1.0,1.4,People (thousands)
183,K02000001,2016,afghanistan,inflow,great britain,Count,1.0,1.4,People (thousands)
185,K02000001,2016,afghanistan,inflow,england and wales,Count,1.0,1.4,People (thousands)
187,K02000001,2016,afghanistan,inflow,england,Count,1.0,1.4,People (thousands)
189,K02000001,2016,afghanistan,inflow,north west,Count,0.5,1.0,People (thousands)
191,K02000001,2016,afghanistan,inflow,east midlands,Count,0.5,0.9,People (thousands)
193,K02000001,2016,afghanistan,inflow,london,Count,0.0,0.1,People (thousands)
195,K02000001,2016,afghanistan,balance,united kingdom,Count,1.0,1.4,People (thousands)
197,K02000001,2016,afghanistan,balance,great britain,Count,1.0,1.4,People (thousands)
199,K02000001,2016,afghanistan,balance,england and wales,Count,1.0,1.4,People (thousands)
201,K02000001,2016,afghanistan,balance,england,Count,1.0,1.4,People (thousands)
203,K02000001,2016,afghanistan,balance,north west,Count,0.5,1.0,People (thousands)
205,K02000001,2016,afghanistan,balance,east midlands,Count,0.5,0.9,People (thousands)
207,K02000001,2016,afghanistan,balance,london,Count,0.0,0.1,People (thousands)
237,K02000001,2016,albania,outflow,united kingdom,Count,-0.6,1.2,People (thousands)
239,K02000001,2016,albania,outflow,great britain,Count,-0.6,1.2,People (thousands)
241,K02000001,2016,albania,outflow,england and wales,Count,-0.6,1.2,People (thousands)
243,K02000001,2016,albania,outflow,england,Count,-0.6,1.2,People (thousands)
245,K02000001,2016,albania,outflow,london,Count,-0.6,1.2,People (thousands)
247,K02000001,2016,albania,balance,united kingdom,Count,-0.6,1.2,People (thousands)
249,K02000001,2016,albania,balance,great britain,Count,-0.6,1.2,People (thousands)
251,K02000001,2016,albania,balance,england and wales,Count,-0.6,1.2,People (thousands)
253,K02000001,2016,albania,balance,england,Count,-0.6,1.2,People (thousands)
255,K02000001,2016,albania,balance,london,Count,-0.6,1.2,People (thousands)
277,K02000001,2016,algeria,inflow,united kingdom,Count,0.4,0.5,People (thousands)
279,K02000001,2016,algeria,inflow,great britain,Count,0.4,0.5,People (thousands)
281,K02000001,2016,algeria,inflow,england and wales,Count,0.2,0.5,People (thousands)
283,K02000001,2016,algeria,inflow,england,Count,0.2,0.5,People (thousands)
285,K02000001,2016,algeria,inflow,scotland,Count,0.1,0.3,People (thousands)
287,K02000001,2016,algeria,inflow,north west,Count,0.2,0.5,People (thousands)
...,...,...,...,...,...,...,...,...,...
2719,K02000001,2016,france,inflow,east midlands,Count,0.5,1.0,People (thousands)
2721,K02000001,2016,france,inflow,west midlands,Count,2.0,2.0,People (thousands)
2723,K02000001,2016,france,inflow,east,Count,3.9,2.7,People (thousands)
2725,K02000001,2016,france,inflow,london,Count,10.0,4.5,People (thousands)
2727,K02000001,2016,france,inflow,south east,Count,5.2,3.3,People (thousands)
2729,K02000001,2016,france,inflow,south west,Count,0.5,1.1,People (thousands)
2731,K02000001,2016,france,outflow,united kingdom,Count,-9.1,4.3,People (thousands)
2733,K02000001,2016,france,outflow,great britain,Count,-9.1,4.3,People (thousands)
2735,K02000001,2016,france,outflow,england and wales,Count,-9.1,4.3,People (thousands)
2737,K02000001,2016,france,outflow,england,Count,-9.1,4.3,People (thousands)
2739,K02000001,2016,france,outflow,north west,Count,-0.3,0.6,People (thousands)
2741,K02000001,2016,france,outflow,yorkshire and the humber,Count,-0.3,0.6,People (thousands)
2743,K02000001,2016,france,outflow,east midlands,Count,-0.2,0.4,People (thousands)
2745,K02000001,2016,france,outflow,west midlands,Count,-0.3,0.6,People (thousands)
2747,K02000001,2016,france,outflow,london,Count,-6.2,3.8,People (thousands)
2749,K02000001,2016,france,outflow,south east,Count,-1.3,1.5,People (thousands)
2751,K02000001,2016,france,outflow,south west,Count,-0.4,0.7,People (thousands)
2753,K02000001,2016,france,balance,united kingdom,Count,16.1,8.3,People (thousands)
2755,K02000001,2016,france,balance,great britain,Count,16.1,8.3,People (thousands)
2757,K02000001,2016,france,balance,england and wales,Count,15.0,8.2,People (thousands)
2759,K02000001,2016,france,balance,england,Count,15.0,8.2,People (thousands)
2761,K02000001,2016,france,balance,scotland,Count,1.1,1.5,People (thousands)
2763,K02000001,2016,france,balance,north west,Count,0.7,1.5,People (thousands)
2765,K02000001,2016,france,balance,yorkshire and the humber,Count,0.7,1.3,People (thousands)
2767,K02000001,2016,france,balance,east midlands,Count,0.3,1.1,People (thousands)
2769,K02000001,2016,france,balance,west midlands,Count,1.6,2.1,People (thousands)
2771,K02000001,2016,france,balance,east,Count,3.9,2.7,People (thousands)
2773,K02000001,2016,france,balance,london,Count,3.7,5.9,People (thousands)
2775,K02000001,2016,france,balance,south east,Count,3.9,3.6,People (thousands)
2777,K02000001,2016,france,balance,south west,Count,0.2,1.3,People (thousands)