Datasheet 4.04A: Area of destination or origin within the UK by citizenship

In [1]:
from databaker.framework import *
import pandas as pd

In [2]:
from pathlib import Path

sourceFolder = Path('in')
sourceFolder.mkdir(exist_ok=True)

%run lib/scrape_ons.ipynb

metadata = scrape('https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/' \
                  'internationalmigration/datasets/ipsareaofdestinationororiginwithintheukbycitizenship')
metadata

{'about': 'International Passenger Survey detailed estimates of Long-Term International Migration: Area of destination or origin within the UK by citizenship. UK, Underlying datasheet 4.',
 'fileURL': 'https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/populationandmigration/internationalmigration/datasets/ipsareaofdestinationororiginwithintheukbycitizenship/2016/underlyingdatasheet4.04ipsareaofdestinationororiginwithintheukbycitizenship2016.xls',
 'mailto': 'mailto:migstatsunit@ons.gsi.gov.uk',
 'nextRelease': datetime.date(2018, 11, 29),
 'releaseDate': datetime.date(2017, 11, 30),
 'title': 'International Passenger Survey\xa04.04, area\xa0of\xa0destination or origin within the UK by citizenship'}

https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/populationandmigration/internationalmigration/datasets/ipsareaofdestinationororiginwithintheukbycitizenship/2016/underlyingdatasheet4.04ipsareaofdestinationororiginwithintheukbycitizenship2016.xls

In [3]:
inputFile = sourceFolder / 'data.xls'
response = session.get(metadata['fileURL'])
# with open(inputFile, 'wb') as f:
#   f.write(response.content)
# # tab = loadxlstabs(inputFile, sheetids='Datasheet 4.04A')[0]

In [4]:
# response.content

In [5]:
xls = pd.ExcelFile(BytesIO(response.content))
df1 = pd.read_excel(xls, 'Datasheet 4.04A', header = 7)

In [6]:
df1

,Software Readable Column Label (See Notes),Unnamed: 1,Unnamed: 2,Unnamed: 3,Row Label,CIT All EST,CIT All CI,CIT British EST,CIT British CI,CIT Non-British EST,...,CIT Sub-Saharan Africa EST,CIT Sub-Saharan Africa CI,CIT North America EST,CIT North America CI,CIT Central and South America EST,CIT Central and South America CI,CIT Oceania EST,CIT Oceania CI,CIT Stateless EST,CIT Stateless CI
0,Inflow,Country of United Kingdom,United Kingdom6,K02000001,"INFLOW, United Kingdom",526.6,34.4,71.7,13.9,454.9,...,21.3,7.7,20.3,5,13.7,6.6,16.7,4.3,.,.
1,NaN,NaN,Great Britain,K03000001,"INFLOW, Great Britain",520.8,33.7,71.7,13.9,449.1,...,19,6.1,20.3,5,13.7,6.6,16.7,4.3,.,.
2,NaN,NaN,England and Wales,K04000001,"INFLOW, England and Wales",488.4,32.7,68.0,13.7,420.4,...,16.1,5.8,18.8,4.7,11.6,6.3,16.2,4.2,.,.
3,NaN,NaN,England,E92000001,"INFLOW, England",470.3,32.0,66.0,13.4,404.3,...,15.8,5.7,18.2,4.7,11.1,6.2,16.1,4.2,.,.
4,NaN,NaN,Wales,W92000004,"INFLOW, Wales",18.1,6.8,2.0,2.6,16.1,...,0.3,0.5,0.6,0.7,0.5,0.7,0.1,0.1,.,.
5,NaN,NaN,Scotland,S92000003,"INFLOW, Scotland",32.4,8.3,3.7,2.5,28.7,...,2.8,2.2,1.5,1.7,2.1,2.1,0.6,0.7,.,.
6,NaN,Region of England,North East,E12000001,"INFLOW, North East",18.9,7.8,4.2,3.2,14.7,...,1.5,1.9,.,.,2.1,4.2,.,.,.,.
7,NaN,NaN,North West,E12000002,"INFLOW, North West",43.8,10.5,7.0,4.2,36.8,...,0.1,0.1,1.5,1.5,1,1.3,0.5,1,.,.
8,NaN,NaN,Yorkshire and The Humber,E12000003,"INFLOW, Yorkshire and The Humber",37.7,11.7,5.9,4.5,31.8,...,2.9,3.5,1.4,1.6,1.8,2.8,0.9,1.1,.,.
9,NaN,NaN,East Midlands,E12000004,"INFLOW, East Midlands",29.0,7.8,2.4,1.9,26.6,...,0.5,0.5,1.1,1.7,0.1,0.1,0.5,0.7,.,.
10,NaN,NaN,West Midlands,E12000005,"INFLOW, West Midlands",40.4,9.0,4.7,3.3,35.8,...,2.5,1.9,0.2,0.3,0.2,0.4,0.3,0.4,.,.
11,NaN,NaN,East,E12000006,"INFLOW, East",50.0,10.1,4.5,2.5,45.5,...,2.4,2.4,1.5,1.2,1.9,2.4,1.6,1.2,.,.
12,NaN,NaN,London,E12000007,"INFLOW, London",143.7,14.5,11.4,4.1,132.3,...,2.7,1.9,9.4,3.2,3.3,2.4,8.1,2.7,.,.
13,NaN,NaN,South East,E12000008,"INFLOW, South East",74.3,13.9,17.5,8.8,56.8,...,2.9,1.9,2,1.2,0.5,0.5,3,2.1,.,.
14,NaN,NaN,South West,E12000009,"INFLOW, South West",32.4,8.5,8.4,4.0,24.0,...,0.3,0.6,1.1,0.9,0.2,0.4,1.2,1.4,.,.
15,Outflow,Country of United Kingdom,United Kingdom6,K02000001,"OUTFLOW, United Kingdom",-315.8,23.0,-121.0,12.8,-194.7,...,-3.7,3,-16.1,5.5,-3.5,1.8,-8.9,2.8,.,.
16,NaN,NaN,Great Britain,K03000001,"OUTFLOW, Great Britain",-315.3,23.0,-120.6,12.8,-194.7,...,-3.7,3,-16.1,5.5,-3.5,1.8,-8.9,2.8,.,.
17,NaN,NaN,England and Wales,K04000001,"OUTFLOW, England and Wales",-295.1,21.8,-113.2,12.3,-181.8,...,-2.4,1.4,-14.3,5.1,-3.3,1.8,-7.8,2.7,.,.
18,NaN,NaN,England,E92000001,"OUTFLOW, England",-287.6,21.6,-108.7,12.0,-178.9,...,-2.3,1.4,-14.1,5.1,-3.3,1.8,-7.8,2.7,.,.
19,NaN,NaN,Wales,W92000004,"OUTFLOW, Wales",-7.4,2.9,-4.5,2.4,-2.9,...,-0.1,0.1,-0.2,0.4,.,.,.,.,.,.
20,NaN,NaN,Scotland,S92000003,"OUTFLOW, Scotland",-20.3,7.3,-7.4,3.5,-12.9,...,-1.4,2.7,-1.8,2,-0.2,0.3,-1.1,1,.,.
21,NaN,Region of England,North East,E12000001,"OUTFLOW, North East",-8.2,3.4,-3.1,2.0,-5.1,...,-0.3,0.6,-1.6,1.4,.,.,.,.,.,.
22,NaN,NaN,North West,E12000002,"OUTFLOW, North West",-33.1,7.4,-15.5,4.8,-17.6,...,-0.4,0.5,-1.3,1.1,-0.4,0.5,-0.6,0.7,.,.
23,NaN,NaN,Yorkshire and The Humber,E12000003,"OUTFLOW, Yorkshire and The Humber",-16.6,4.8,-7.2,3.0,-9.4,...,.,.,-0.2,0.5,-0.4,0.6,-0.2,0.4,.,.
24,NaN,NaN,East Midlands,E12000004,"OUTFLOW, East Midlands",-14.5,4.9,-7.7,3.5,-6.7,...,-0.3,0.4,-0.2,0.4,-0.6,1.1,.,.,.,.
25,NaN,NaN,West Midlands,E12000005,"OUTFLOW, West Midlands",-17.6,4.3,-6.5,2.5,-11.1,...,-0.7,0.9,.,.,-0.1,0.3,-0.3,0.4,.,.
26,NaN,NaN,East,E12000006,"OUTFLOW, East",-25.6,5.7,-10.4,3.3,-15.2,...,-0.2,0.3,-0.7,0.6,.,.,-0.5,0.5,.,.
27,NaN,NaN,London,E12000007,"OUTFLOW, London",-103.9,13.4,-25.6,5.9,-78.3,...,-0.3,0.3,-8.1,4.4,-1.5,1,-3.9,1.9,.,.
28,NaN,NaN,South East,E12000008,"OUTFLOW, South East",-39.9,7.6,-22.5,5.9,-17.4,...,-0.2,0.3,-1.3,1.1,-0.2,0.5,-1.7,1.5,.,.
29,NaN,NaN,South West,E12000009,"OUTFLOW, South West",-28.2,8.0,-10.1,3.2,-18.1,...,-0.1,0.2,-0.6,0.8,.,.,-0.7,0.7,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,NaN,NaN,North West,E12000002,"BALANCE, North West",10.7,12.9,-8.5,6.4,19.2,...,-0.3,0.6,0.2,1.9,0.6,1.4,-0.1,1.2,.,.
38,NaN,NaN,Yorkshire and The Humber,E12000003,"BALANCE, Yorkshire and The Humber",21.1,12.6,-1.3,5.5,22.4,...,2.9,3.5,1.1,1.7,1.4,2.8,0.7,1.2,.,.
39,NaN,NaN,East Midlands,E12000004,"BALANCE, East Midlands",14.5,9.2,-5.4,4.0,19.8,...,0.2,0.6,0.9,1.8,-0.5,1.1,0.5,0.7,.,.
40,NaN,NaN,West Midlands,E12000005,"BALANCE, West Midlands",22.9,10.0,-1.8,4.2,24.7,...,1.8,2.1,0.2,0.3,0.1,0.5,0.1,0.5,.,.
41,NaN,NaN,East,E12000006,"BALANCE, East",24.4,11.6,-5.9,4.1,30.3,...,2.3,2.4,0.8,1.4,1.9,2.4,1.1,1.4,.,.
42,NaN,NaN,London,E12000007,"BALANCE, London",39.7,19.8,-14.2,7.2,54.0,...,2.4,1.9,1.4,5.5,1.8,2.6,4.1,3.3,.,.
43,NaN,NaN,South East,E12000008,"BALANCE, South East",34.5,15.8,-5.0,10.6,39.4,...,2.7,1.9,0.7,1.6,0.3,0.7,1.3,2.5,.,.
44,NaN,NaN,South West,E12000009,"BALANCE, South West",4.2,11.7,-1.7,5.1,5.9,...,0.2,0.7,0.5,1.2,0.2,0.4,0.5,1.5,.,.
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Source: Office for National Statistics (ONS).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Totals may not sum due to rounding.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,"""z"" - Not applicable, ""."" - No contact, ""0~"" -...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Migration between the UK and the Republic of I...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,1 European Union estimates are for the EU15 (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,2 Includes European Union countries as define...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,3 Includes European Union countries as define...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,4 Excludes citizens of European Union countri...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,"5 From 2004 onwards, All and New Commonwealth...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,6 IPS estimates for Northern Ireland are incl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,This table uses 95% confidence intervals (CI) ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Published on 30 November 2017 by the Office fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,© Crown copyright. You may re-use this informa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,"To view this licence, go to: http://www.nation...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,"or write to the Information Policy Team, The N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
observations = df1.iloc[:, 4:]
observations.head()

,Row Label,CIT All EST,CIT All CI,CIT British EST,CIT British CI,CIT Non-British EST,CIT Non-British CI,CIT British or British Overseas EST,CIT British or British Overseas CI,CIT Not British or British Overseas EST,...,CIT Sub-Saharan Africa EST,CIT Sub-Saharan Africa CI,CIT North America EST,CIT North America CI,CIT Central and South America EST,CIT Central and South America CI,CIT Oceania EST,CIT Oceania CI,CIT Stateless EST,CIT Stateless CI
0,"INFLOW, United Kingdom",526.6,34.4,71.7,13.9,454.9,31.5,72.9,14.1,453.7,...,21.3,7.7,20.3,5,13.7,6.6,16.7,4.3,.,.
1,"INFLOW, Great Britain",520.8,33.7,71.7,13.9,449.1,30.7,72.9,14.1,447.9,...,19,6.1,20.3,5,13.7,6.6,16.7,4.3,.,.
2,"INFLOW, England and Wales",488.4,32.7,68.0,13.7,420.4,29.7,69.2,13.8,419.2,...,16.1,5.8,18.8,4.7,11.6,6.3,16.2,4.2,.,.
3,"INFLOW, England",470.3,32.0,66.0,13.4,404.3,29.1,67.2,13.6,403.1,...,15.8,5.7,18.2,4.7,11.1,6.2,16.1,4.2,.,.
4,"INFLOW, Wales",18.1,6.8,2.0,2.6,16.1,6.3,2.0,2.6,16.1,...,0.3,0.5,0.6,0.7,0.5,0.7,0.1,0.1,.,.

In [8]:
new_table = pd.melt(observations,
                       ["Row Label"],
                       var_name="Column label",
                       value_name="Value")

In [9]:
new_table.head(50)

                            Row Label Column label  Value
0              INFLOW, United Kingdom  CIT All EST  526.6
1               INFLOW, Great Britain  CIT All EST  520.8
2           INFLOW, England and Wales  CIT All EST  488.4
3                     INFLOW, England  CIT All EST  470.3
4                       INFLOW, Wales  CIT All EST   18.1
5                    INFLOW, Scotland  CIT All EST   32.4
6                  INFLOW, North East  CIT All EST   18.9
7                  INFLOW, North West  CIT All EST   43.8
8    INFLOW, Yorkshire and The Humber  CIT All EST   37.7
9               INFLOW, East Midlands  CIT All EST     29
10              INFLOW, West Midlands  CIT All EST   40.4
11                       INFLOW, East  CIT All EST     50
12                     INFLOW, London  CIT All EST  143.7
13                 INFLOW, South East  CIT All EST   74.3
14                 INFLOW, South West  CIT All EST   32.4
15            OUTFLOW, United Kingdom  CIT All EST -315.8
16             OUTFLOW, Great Britain  CIT All EST -315.3
17         OUTFLOW, England and Wales  CIT All EST -295.1
18                   OUTFLOW, England  CIT All EST -287.6
19                     OUTFLOW, Wales  CIT All EST   -7.4
20                  OUTFLOW, Scotland  CIT All EST  -20.3
21                OUTFLOW, North East  CIT All EST   -8.2
22                OUTFLOW, North West  CIT All EST  -33.1
23  OUTFLOW, Yorkshire and The Humber  CIT All EST  -16.6
24             OUTFLOW, East Midlands  CIT All EST  -14.5
25             OUTFLOW, West Midlands  CIT All EST  -17.6
26                      OUTFLOW, East  CIT All EST  -25.6
27                    OUTFLOW, London  CIT All EST -103.9
28                OUTFLOW, South East  CIT All EST  -39.9
29                OUTFLOW, South West  CIT All EST  -28.2
30            BALANCE, United Kingdom  CIT All EST  210.8
31             BALANCE, Great Britain  CIT All EST  205.4
32         BALANCE, England and Wales  CIT All EST  193.3
33                   BALANCE, England  CIT All EST  182.7
34                     BALANCE, Wales  CIT All EST   10.6
35                  BALANCE, Scotland  CIT All EST   12.1
36                BALANCE, North East  CIT All EST   10.7
37                BALANCE, North West  CIT All EST   10.7
38  BALANCE, Yorkshire and The Humber  CIT All EST   21.1
39             BALANCE, East Midlands  CIT All EST   14.5
40             BALANCE, West Midlands  CIT All EST   22.9
41                      BALANCE, East  CIT All EST   24.4
42                    BALANCE, London  CIT All EST   39.7
43                BALANCE, South East  CIT All EST   34.5
44                BALANCE, South West  CIT All EST    4.2
45                                NaN  CIT All EST    NaN
46                                NaN  CIT All EST    NaN
47                                NaN  CIT All EST    NaN
48                                NaN  CIT All EST    NaN
49                                NaN  CIT All EST    NaN

In [10]:
new_table.shape

(4020, 3)

In [11]:
new_table.dropna(inplace=True)

In [12]:
new_table = new_table[new_table['Value'] != '.']

In [13]:
new_table = new_table[new_table['Value'] != '0']

In [14]:
new_table.head(50)

                            Row Label Column label  Value
0              INFLOW, United Kingdom  CIT All EST  526.6
1               INFLOW, Great Britain  CIT All EST  520.8
2           INFLOW, England and Wales  CIT All EST  488.4
3                     INFLOW, England  CIT All EST  470.3
4                       INFLOW, Wales  CIT All EST   18.1
5                    INFLOW, Scotland  CIT All EST   32.4
6                  INFLOW, North East  CIT All EST   18.9
7                  INFLOW, North West  CIT All EST   43.8
8    INFLOW, Yorkshire and The Humber  CIT All EST   37.7
9               INFLOW, East Midlands  CIT All EST     29
10              INFLOW, West Midlands  CIT All EST   40.4
11                       INFLOW, East  CIT All EST     50
12                     INFLOW, London  CIT All EST  143.7
13                 INFLOW, South East  CIT All EST   74.3
14                 INFLOW, South West  CIT All EST   32.4
15            OUTFLOW, United Kingdom  CIT All EST -315.8
16             OUTFLOW, Great Britain  CIT All EST -315.3
17         OUTFLOW, England and Wales  CIT All EST -295.1
18                   OUTFLOW, England  CIT All EST -287.6
19                     OUTFLOW, Wales  CIT All EST   -7.4
20                  OUTFLOW, Scotland  CIT All EST  -20.3
21                OUTFLOW, North East  CIT All EST   -8.2
22                OUTFLOW, North West  CIT All EST  -33.1
23  OUTFLOW, Yorkshire and The Humber  CIT All EST  -16.6
24             OUTFLOW, East Midlands  CIT All EST  -14.5
25             OUTFLOW, West Midlands  CIT All EST  -17.6
26                      OUTFLOW, East  CIT All EST  -25.6
27                    OUTFLOW, London  CIT All EST -103.9
28                OUTFLOW, South East  CIT All EST  -39.9
29                OUTFLOW, South West  CIT All EST  -28.2
30            BALANCE, United Kingdom  CIT All EST  210.8
31             BALANCE, Great Britain  CIT All EST  205.4
32         BALANCE, England and Wales  CIT All EST  193.3
33                   BALANCE, England  CIT All EST  182.7
34                     BALANCE, Wales  CIT All EST   10.6
35                  BALANCE, Scotland  CIT All EST   12.1
36                BALANCE, North East  CIT All EST   10.7
37                BALANCE, North West  CIT All EST   10.7
38  BALANCE, Yorkshire and The Humber  CIT All EST   21.1
39             BALANCE, East Midlands  CIT All EST   14.5
40             BALANCE, West Midlands  CIT All EST   22.9
41                      BALANCE, East  CIT All EST   24.4
42                    BALANCE, London  CIT All EST   39.7
43                BALANCE, South East  CIT All EST   34.5
44                BALANCE, South West  CIT All EST    4.2
67             INFLOW, United Kingdom   CIT All CI   34.4
68              INFLOW, Great Britain   CIT All CI   33.7
69          INFLOW, England and Wales   CIT All CI   32.7
70                    INFLOW, England   CIT All CI     32
71                      INFLOW, Wales   CIT All CI    6.8

In [15]:
new_table.count()

Row Label       2496
Column label    2496
Value           2496
dtype: int64

In [16]:
new_table['country'] = new_table['Column label'].replace(to_replace= r"CIT (.*)(EST|CI )$", value = "\\1", regex=True)
new_table['measure'] = new_table['Column label'].replace(to_replace= r".* (EST|CI )$", value = "\\1", regex=True)
new_table['country'] = new_table['country'].str.lower()
new_table['country'] = new_table['country'].str.strip()
new_table['measure'] = new_table['measure'].str.lower()
new_table['measure'] = new_table['measure'].str.strip()
new_table['country'] = new_table['country'].replace(to_replace= r" ", value = "-", regex=True)
new_table['codelist'] = new_table['Column label'].str[0:4]
new_table['codelist'] = new_table['codelist'].str.lower()
new_table['Row Label'] = new_table['Row Label'].str.lower()
temp_table = new_table['Row Label'].str.split(',', -1, expand=True)
new_table['migration_flow'] = temp_table[0]
new_table['area_of_origin_or_destination'] = temp_table[1]
new_table['migration_flow'] = new_table['migration_flow'].str.strip()
new_table['migration_flow'] = new_table['migration_flow'].replace(to_replace= r" ", value = ":", regex=True)
new_table['area_of_origin_or_destination'] = new_table['area_of_origin_or_destination'].str.strip()
new_table['area_of_origin_or_destination'] = new_table['area_of_origin_or_destination'].replace(to_replace= r" ", value = "-", regex=True)
new_table['Geography'] = 'K02000001'
new_table['Unit'] = 'People (thousands)'
new_table['Measure Type'] = 'Count'
new_table['Year'] = '2016'
temp_table = new_table[:]
temp_table['Keys'] = temp_table['Row Label'] + '/' + temp_table['Column label']
temp_table['Keys'] = temp_table['Keys'].str.strip()
temp_table['Keys2'] = temp_table['Keys'].str.rstrip('EST')
temp_table['Keys2'] = temp_table['Keys2'].str.rstrip('CI')
temp_table['Keys2'] = temp_table['Keys2'].str.strip()
Final_table = pd.merge(temp_table, temp_table[['Keys2','Value','measure']], how = 'left', left_on = 'Keys2', right_on = 'Keys2')
Final_table = Final_table[Final_table['measure_x'] != Final_table['measure_y']]
Final_table = Final_table.drop_duplicates('Keys2', keep = 'first')
Final_table.columns = ['Value' if x=='Value_x' else x for x in Final_table.columns]
Final_table.columns = ['CI' if x=='Value_y' else x for x in Final_table.columns]
Final_table['Value'] = Final_table['Value'].astype(float)
Final_table['Year'] = Final_table['Year'].astype(int)
Final_table['CI'] = Final_table['CI'].astype(float)
Final_table = Final_table[['Geography','Year','codelist','country','migration_flow','area_of_origin_or_destination','Measure Type','Value','CI','Unit']]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
Final_table

,Geography,Year,codelist,country,migration_flow,area_of_origin_or_destination,Measure Type,Value,CI,Unit
1,K02000001,2016,cit,all,inflow,united-kingdom,Count,526.6,34.4,People (thousands)
3,K02000001,2016,cit,all,inflow,great-britain,Count,520.8,33.7,People (thousands)
5,K02000001,2016,cit,all,inflow,england-and-wales,Count,488.4,32.7,People (thousands)
7,K02000001,2016,cit,all,inflow,england,Count,470.3,32.0,People (thousands)
9,K02000001,2016,cit,all,inflow,wales,Count,18.1,6.8,People (thousands)
11,K02000001,2016,cit,all,inflow,scotland,Count,32.4,8.3,People (thousands)
13,K02000001,2016,cit,all,inflow,north-east,Count,18.9,7.8,People (thousands)
15,K02000001,2016,cit,all,inflow,north-west,Count,43.8,10.5,People (thousands)
17,K02000001,2016,cit,all,inflow,yorkshire-and-the-humber,Count,37.7,11.7,People (thousands)
19,K02000001,2016,cit,all,inflow,east-midlands,Count,29.0,7.8,People (thousands)
21,K02000001,2016,cit,all,inflow,west-midlands,Count,40.4,9.0,People (thousands)
23,K02000001,2016,cit,all,inflow,east,Count,50.0,10.1,People (thousands)
25,K02000001,2016,cit,all,inflow,london,Count,143.7,14.5,People (thousands)
27,K02000001,2016,cit,all,inflow,south-east,Count,74.3,13.9,People (thousands)
29,K02000001,2016,cit,all,inflow,south-west,Count,32.4,8.5,People (thousands)
31,K02000001,2016,cit,all,outflow,united-kingdom,Count,-315.8,23.0,People (thousands)
33,K02000001,2016,cit,all,outflow,great-britain,Count,-315.3,23.0,People (thousands)
35,K02000001,2016,cit,all,outflow,england-and-wales,Count,-295.1,21.8,People (thousands)
37,K02000001,2016,cit,all,outflow,england,Count,-287.6,21.6,People (thousands)
39,K02000001,2016,cit,all,outflow,wales,Count,-7.4,2.9,People (thousands)
41,K02000001,2016,cit,all,outflow,scotland,Count,-20.3,7.3,People (thousands)
43,K02000001,2016,cit,all,outflow,north-east,Count,-8.2,3.4,People (thousands)
45,K02000001,2016,cit,all,outflow,north-west,Count,-33.1,7.4,People (thousands)
47,K02000001,2016,cit,all,outflow,yorkshire-and-the-humber,Count,-16.6,4.8,People (thousands)
49,K02000001,2016,cit,all,outflow,east-midlands,Count,-14.5,4.9,People (thousands)
51,K02000001,2016,cit,all,outflow,west-midlands,Count,-17.6,4.3,People (thousands)
53,K02000001,2016,cit,all,outflow,east,Count,-25.6,5.7,People (thousands)
55,K02000001,2016,cit,all,outflow,london,Count,-103.9,13.4,People (thousands)
57,K02000001,2016,cit,all,outflow,south-east,Count,-39.9,7.6,People (thousands)
59,K02000001,2016,cit,all,outflow,south-west,Count,-28.2,8.0,People (thousands)
...,...,...,...,...,...,...,...,...,...,...
4853,K02000001,2016,cit,oceania,inflow,east,Count,1.6,1.2,People (thousands)
4855,K02000001,2016,cit,oceania,inflow,london,Count,8.1,2.7,People (thousands)
4857,K02000001,2016,cit,oceania,inflow,south-east,Count,3.0,2.1,People (thousands)
4859,K02000001,2016,cit,oceania,inflow,south-west,Count,1.2,1.4,People (thousands)
4861,K02000001,2016,cit,oceania,outflow,united-kingdom,Count,-8.9,2.8,People (thousands)
4863,K02000001,2016,cit,oceania,outflow,great-britain,Count,-8.9,2.8,People (thousands)
4865,K02000001,2016,cit,oceania,outflow,england-and-wales,Count,-7.8,2.7,People (thousands)
4867,K02000001,2016,cit,oceania,outflow,england,Count,-7.8,2.7,People (thousands)
4869,K02000001,2016,cit,oceania,outflow,scotland,Count,-1.1,1.0,People (thousands)
4871,K02000001,2016,cit,oceania,outflow,north-west,Count,-0.6,0.7,People (thousands)
4873,K02000001,2016,cit,oceania,outflow,yorkshire-and-the-humber,Count,-0.2,0.4,People (thousands)
4875,K02000001,2016,cit,oceania,outflow,west-midlands,Count,-0.3,0.4,People (thousands)
4877,K02000001,2016,cit,oceania,outflow,east,Count,-0.5,0.5,People (thousands)
4879,K02000001,2016,cit,oceania,outflow,london,Count,-3.9,1.9,People (thousands)
4881,K02000001,2016,cit,oceania,outflow,south-east,Count,-1.7,1.5,People (thousands)
4883,K02000001,2016,cit,oceania,outflow,south-west,Count,-0.7,0.7,People (thousands)
4885,K02000001,2016,cit,oceania,balance,united-kingdom,Count,7.8,5.1,People (thousands)
4887,K02000001,2016,cit,oceania,balance,great-britain,Count,7.8,5.1,People (thousands)
4889,K02000001,2016,cit,oceania,balance,england-and-wales,Count,8.3,5.0,People (thousands)
4891,K02000001,2016,cit,oceania,balance,england,Count,8.2,5.0,People (thousands)
4893,K02000001,2016,cit,oceania,balance,wales,Count,0.1,0.1,People (thousands)
4895,K02000001,2016,cit,oceania,balance,scotland,Count,-0.5,1.2,People (thousands)
4897,K02000001,2016,cit,oceania,balance,north-west,Count,-0.1,1.2,People (thousands)
4899,K02000001,2016,cit,oceania,balance,yorkshire-and-the-humber,Count,0.7,1.2,People (thousands)
4901,K02000001,2016,cit,oceania,balance,east-midlands,Count,0.5,0.7,People (thousands)
4903,K02000001,2016,cit,oceania,balance,west-midlands,Count,0.1,0.5,People (thousands)
4905,K02000001,2016,cit,oceania,balance,east,Count,1.1,1.4,People (thousands)
4907,K02000001,2016,cit,oceania,balance,london,Count,4.1,3.3,People (thousands)
4909,K02000001,2016,cit,oceania,balance,south-east,Count,1.3,2.5,People (thousands)
4911,K02000001,2016,cit,oceania,balance,south-west,Count,0.5,1.5,People (thousands)

In [18]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

Final_table.to_csv(destinationFolder / ('tidydata4.04A.csv'), index = False)

In [19]:
writeMetadata(metadata, 'ONS-LTIM-Passenger-survey-4.04A', 'Migration')

In [20]:
Final_table.count()

Geography                        1248
Year                             1248
codelist                         1248
country                          1248
migration_flow                   1248
area_of_origin_or_destination    1248
Measure Type                     1248
Value                            1248
CI                               1248
Unit                             1248
dtype: int64